<h1><%= I18n.t("customer_account_mailer.password_reset.greeting", name: @customer.first_name) %></h1>

<p><%= I18n.t("customer_account_mailer.password_reset.body") %></p>

<p>
  <%= link_to I18n.t("customer_account_mailer.password_reset.action"),
        public_edit_password_reset_url(token: @reset_token) %>
</p>

<p><%= I18n.t("customer_account_mailer.password_reset.expiry") %></p>

<p><%= I18n.t("customer_account_mailer.password_reset.closing") %></p>
